:root {
    --gris-fondo: #1d2a35;
    --blanco-fuente: #dddddd;
}

body {
    font-family: monospace;
    background-color: var(--gris-fondo);
    color: var(--blanco-fuente);
}

#padre {
    background-color: cornflowerblue;
    padding: 15px;
}

#miForm {
    border: 2px solid fuchsia;
    padding: 10px;
    width: 200px;
}

#contenedorApi {
    display: flex;
    flex-wrap: wrap;
}

.lista-data {
    border: 2px solid mediumspringgreen;
    width: 200px;
    margin: 5px;
}

.album {
    border: 2px solid fuchsia;
}